<h1>Show Invitation</h1>

<ul>

  <li>
    <strong>Response:</strong>
    <%= @invitation.response %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.invitation_path(@conn, :edit, @invitation) %></span>
<span><%= link "Back", to: Routes.invitation_path(@conn, :index) %></span>
